---
import { Image } from "astro:assets";
import {
	characters as charactersData,
	type CharacterName,
} from "../../characters.ts";

interface Props {
	name: CharacterName;
}

const { name } = Astro.props as Props;

const imageSrc = charactersData[name].image;
const fullName = charactersData[name].fullname;
---

<div class="root">
	<a href={`/characters#${name}`}>
		<div class="portrait">
			<Image
				src={imageSrc}
				alt={`${fullName} says:`}
				title={fullName}
				width={80}
				height={80}
			/>
			{name}
		</div>
	</a>
	<div class="text-bubble">
		<slot />
	</div>
</div>

<style>
	div.root {
		display: flex;
		align-items: flex-start;
		padding: 0 0 0 1rem;
		gap: 8px;
		border-radius: 16px;
		border: 1px solid var(--background-lighter);
		a {
			text-decoration: none;
		}
		div.portrait {
			border-radius: 16px;
			/* background-color: var(--background-lighter); */
			display: flex;
			flex-direction: column;
			flex-shrink: 0;
			align-items: center;
			width: 80px;
		}
		div.text-bubble {
			border-radius: 16px;
			/* border: 1px solid black; */
			padding: 0 1rem 0 1rem;
			/* background-color: var(--background-lighter); */
		}
	}
</style>
