---
import type { CollectionEntry } from "astro:content";
import { type GitData } from "../content.config.ts";
import BaseHead from "../components/BaseHead.astro";
import FormattedDate from "../components/FormattedDate.astro";
import Header from "../components/Header.astro";

type Props = CollectionEntry<"blog">["data"] & GitData;

const { title, description, git } = Astro.props;

const { creation, updates } = git ?? { creation: null, updates: [] };
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description || ""} />
		<style>
			main {
				width: calc(100% - 2em);
				max-width: 100%;
				margin: 0;
			}
			.prose {
				width: 720px;
				max-width: calc(100% - 2em);
				margin: auto;
				padding: 1em;
			}
			.title {
				margin-bottom: 1em;
				padding: 1em 0;
				line-height: 1;
			}
			.title h1 {
				margin: 0 0 0.5em 0;
			}
			.date {
				margin-bottom: 0.5em;
				color: var(--text-darker);
			}
			.last-updated-on {
				font-style: italic;
			}
		</style>
	</head>

	<body>
		<Header />
		<main>
			<article>
				<div class="prose">
					<div class="title">
						<h1>{title}</h1>
						<div class="date">
							{
								creation && (
									<>
										Written on{" "}
										<a
											href={
												"https://github.com/Jeansidharta/blog/commit/" +
												creation.hash
											}
											referrerpolicy="no-referrer"
											target="_blank"
										>
											<FormattedDate
												date={creation.date}
											/>
										</a>
									</>
								)
							}
							{
								updates.map((update) => (
									<div class="last-updated-on">
										Updated on
										<a
											href={
												"https://github.com/Jeansidharta/blog/commit/" +
												update.hash
											}
											referrerpolicy="no-referrer"
											target="_blank"
										>
											<FormattedDate date={update.date} />
										</a>
										: {update.message}
									</div>
								))
							}
						</div>
						<hr />
					</div>
					<slot />
				</div>
			</article>
		</main>
	</body>
</html>
